<div class="container">
    <mat-card class="mb-4 bg-transparent app-breadcrumbs pl-0">
        <mat-list role="list">
            <mat-list-item role="listitem">
                Home
            </mat-list-item>
            <mat-list-item role="listitem">
                Dashboard
            </mat-list-item>
        </mat-list>
    </mat-card>
    <div class="row mb-4">
        <div class="col-3">
            <mat-card class="example-card">
                <div class="row justify-content-around align-items-center">
                    <div class="col-6 pl-0">
                        <mat-card-title>
                            Shiba Inu
                        </mat-card-title>
                        <mat-card-subtitle class="mb-2">
                            Dog Breed
                        </mat-card-subtitle>
                    </div>
                    <div class="col-3">
                        <button color="primary" mat-fab="">
                            <mat-icon>
                                chat
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-3">
            <mat-card class="example-card">
                <div class="row justify-content-around align-items-center">
                    <div class="col-6 pl-0">
                        <mat-card-title>
                            Shiba Inu
                        </mat-card-title>
                        <mat-card-subtitle class="mb-2">
                            Dog Breed
                        </mat-card-subtitle>
                    </div>
                    <div class="col-3">
                        <button color="primary" mat-fab="">
                            <mat-icon>
                                chat
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-3">
            <mat-card class="example-card">
                <div class="row justify-content-around align-items-center">
                    <div class="col-6 pl-0">
                        <mat-card-title>
                            Shiba Inu
                        </mat-card-title>
                        <mat-card-subtitle class="mb-2">
                            Dog Breed
                        </mat-card-subtitle>
                    </div>
                    <div class="col-3">
                        <button color="primary" mat-fab="">
                            <mat-icon>
                                chat
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-3">
            <mat-card class="example-card">
                <div class="row justify-content-around align-items-center">
                    <div class="col-6 pl-0">
                        <mat-card-title>
                            Shiba Inu
                        </mat-card-title>
                        <mat-card-subtitle class="mb-2">
                            Dog Breed
                        </mat-card-subtitle>
                    </div>
                    <div class="col-3">
                        <button color="primary" mat-fab="">
                            <mat-icon>
                                chat
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <mat-card>
                Simple card
            </mat-card>
        </div>
        <div class="col-3">
            <mat-card>
                Simple card
            </mat-card>
        </div>
    </div>
</div>